asgiref==3.4.1
async-timeout==4.0.3
certifi==2023.11.17
charset-normalizer==3.3.2
distlib==0.3.4
Django==3.2.5
djangorestframework==3.14.0
filelock==3.4.2
idna==3.6
platformdirs==2.4.1
pytz==2021.1
redis==5.0.1
requests==2.31.0
six==1.16.0
slack-sdk==3.26.1
spotipy==2.23.0
sqlparse==0.4.1
urllib3==2.1.0
virtualenv==20.13.1
